<form action="{{ path('customer_delete', {id: customer.id}) }}" method="post" onsubmit="return confirm('{{ 'Are you sure you want to delete this item?'|trans }}')">
  <input type="hidden" name="_method" value="DELETE">
  <input type="hidden" name="_token" value="{{ csrf_token('delete'~customer.id) }}">
  <button class="btn btn-outline-danger">{{ 'Delete...'|trans }}</button>
</form>
