{% extends 'base.html.twig' %}

{% block subtitle %}{{ 'Change password'|trans }}{% endblock %}

{% block content_container %}
  {% include 'widgets/breadcrumb.html.twig' with {items: [
    {label: 'User'|trans, path: path('user_index')},
    {label: user, path: path('user_show', {id: user.id})},
    {label: 'Edit'|trans, path: path('user_edit', {id: user.id})},
    {label: 'Change password'|trans},
  ]} %}

  {% include 'widgets/content-navbar.html.twig' with { title: block('subtitle') } %}

  <div class="container ml-0 px-0">
    {% include 'user/_detail.html.twig' %}
    {% include 'user/_form.html.twig' with {type: 'change_password'} %}
  </div>
{% endblock %}
