{% extends 'base.html.twig' %}

{% block subtitle %}{{ 'Edit user'|trans }}{% endblock %}

{% block content_container %}
  {% include 'widgets/breadcrumb.html.twig' with {items: [
    {label: 'User'|trans, path: path('user_index')},
    {label: user, path: path('user_show', {id: user.id})},
    {label: 'Edit'|trans},
  ]} %}

  {% include 'widgets/content-navbar.html.twig' with { title: block('subtitle') } %}

  <div class="container ml-0 px-0">
    {% include 'user/_form.html.twig' with {type: 'edit'} %}

    <div class="float-left">
      <a href="{{ path('user_delete', {id: user.id}) }}" class="btn btn-outline-danger">{{ 'Delete...'|trans }}</a>
    </div>
  </div>
{% endblock %}
